# part-2
part-2/playground/build
part-2/phonebook-frontend/build

# part-3

part-3/demo-backend
part-3/heroku-backend
part-3/mongodb-practice
part-3/phonebook-backend/build

# part-4

part-4/notes-backend
part-4/bloglist-backend/build

# part-5

part-5/notes-frontend

# part-6

part-6/playground

# part-7

part-7/notes-frontend
part-7/playground
part-7/playground-demo

# environment file

*/.env
