@font-face {
  font-family: "Happy";
  src: url("Happy-Regular.woff2") format("woff2"),
    url("Happy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}